html ,body {
    width: 100%;
    height:100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main {
    text-align: center;
    width: 100%;
    height: 100%;
}
.vaso {
    margin:0 auto;
    text-align: left;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 50%;
    background-image: url('img/ground.jpg');
    border: 3px solid brown;
}
.cestino {
    z-index: -1;
    float: left;
    height: 15%;
    width: 9%;

    border: dashed 4px transparent;
    border-radius: 4px;
    margin-top: 40%;


    transition: background-color 0.3s;

    background-color: #ccc;
    background-image: url('img/garbage.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.button{
    margin-top: 50%;
    float: right;
    bottom: 15%;
    right: 15%;
    width: 300px;
    background-color: blue;
}

.drop-active {
  border-color: #aaa;
}
.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

#drag-1{
  position: absolute;
  width: 15%;
  height: 15%;
  margin: 10%;
  border-radius: 50%;

  background-color: #29e;
  color: white;

  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}